<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    <title>Django blog</title>
</head>

<body>
    <header class="container center-align">
        <h1>Django Blog</h1>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}


        <a class="left-align" href="/posts/nuevo">
            <h5>Nuevo post</h5>
        </a>
    </div>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</body>

</html>